.stock-table {
    margin: 0 5%;
    width: 90%;
}
.stock-head th {
    padding: 5px 0;
    align-items: center;
    color: #a2a2a2;
    text-transform: uppercase;
}
tbody tr td {
    padding: 20px 0;
}

.exp-soon {
    background-color: #e3cf9c !important;
}
tbody tr.exp-soon:nth-child(even) {
    background-color: #c1ae74 !important;
}
.exp-week {
    background-color: #e7bda0 !important;
}
tbody tr.exp-week:nth-child(even) {
    background-color: #d9996c !important;
}
.exp-today {
    background-color: #e3a1a1 !important;
}
tbody tr.exp-today:nth-child(even) {
    background-color: #d77878 !important;
}
.exp-past {
    background-color: #e56565 !important;
}
tbody tr.exp-past:nth-child(even) {
    background-color: #cd5454 !important;
}

.pagination-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5%;
    width: 90%;
    height: 50px;
}
.pagination-container button {
    background-color: white;
    border: none;
    color: #252728;
    text-align: center;
}
.pagination-container button:hover {
    color: #6c7b80;
}
.rows-per-page {
    align-self: center;
}